.why {
	background-image: url('../../assets/img/whyBg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 64px 40px;
	position: relative;
}

.whyAccess {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
	padding-bottom: 205px;
	position: relative;
}

.whyAccessTexts {
	z-index: 4;
	display: flex;
	width: 676px;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	pointer-events: none;
}

.whyAccessTextsTop {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	align-self: stretch;
}

.whyAccessTitles {
	display: flex;
	align-items: center;
	gap: 12px;
}

.whyAccessNum {
	color: #f3ecf8;
	text-align: center;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px; /* 137.5% */
	text-transform: uppercase;

	display: flex;
	width: 24px;
	height: 24px;
	padding: 1px 0px;
	justify-content: center;
	align-items: center;
	border-radius: 32px;
	background: var(--violet-brand, #2b133d);
}

.whyAccessBefore {
	color: var(--violet-brand, #2b133d);
	text-align: center;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px; /* 137.5% */
	text-transform: uppercase;
}

.whyAccessTitle {
	color: var(--violet-brand, #2b133d);
	text-align: center;
	font-family: Manrope;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px; /* 104.167% */
}

.whyAccessSubtitle {
	color: var(--violet-brand, #2b133d);
	text-align: center;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px; /* 137.5% */
	width: 448px;
	pointer-events: none;
}

.whyAccessCards {
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.whyAccessCard:nth-child(3) {
	grid-column-start: 2;
}

.whyAccessCard:nth-child(1) {
	position: relative;
	top: 50%;
}

.whyAccessCard {
	display: flex;
	flex-direction: column;
	border-radius: 24px;
	background: #fff;
	padding: 32px;
	height: 238px;
	flex-shrink: 0;
	justify-content: space-between;
}

.whyCardImages {
	display: flex;
	align-items: center;
	gap: 4px;
}

.whyCardUber {
	width: 40px;
	height: 40px;
	flex-shrink: 0;
}

.whyCardSubtitles {
	display: flex;
	gap: 4px;
	align-items: stretch;
}

.whyCardImage {
	width: 79px;
	height: 61px;
	flex-shrink: 0;
}

.whyCardSubtitle {
	color: rgba(43, 19, 61, 0.48);
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px; /* 128.571% */
	display: flex;
	padding: 5px 12px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 24px;
	border: 1px solid rgba(43, 19, 61, 0.1);
}

.whyCardBottom {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.whyCardTitle {
	color: var(--violet-brand, #2b133d);
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px; /* 111.111% */
}

.whyCardText {
	color: rgba(43, 19, 61, 0.56);
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px; /* 137.5% */
	width: 280px;
}

.whyAccessBackground {
	position: absolute;
	bottom: 5%;
	right: 50%;
	transform: translate(50%, 0%);
	width: 70%;
	height: 70%;
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 32px;
	gap: 2px;
	padding: 40px;
	pointer-events: none;
}

.bgSquare {
	width: 100%;
	height: 100%;
	border-radius: 24px;
	background: linear-gradient(
		225deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(243, 236, 248, 0.32) 100%
	);
	box-shadow: 0px 4px 12px 0px rgba(255, 255, 255, 0.24) inset;
	backdrop-filter: blur(64px);
	position: relative;
	overflow: hidden;
	pointer-events: auto;
}

.bgSquare::after {
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	pointer-events: none;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.3s ease;
	left: var(--mouse-x, 0px);
	top: var(--mouse-y, 0px);
	transform: translate(-50%, -50%);
	background: radial-gradient(
		circle,
		var(--pink, #eb9aff) 0%,
		rgba(235, 154, 255, 0.8) 20%,
		rgba(235, 154, 255, 0.4) 50%,
		rgba(235, 154, 255, 0.1) 80%,
		rgba(235, 154, 255, 0) 100%
	);
	filter: blur(48px);
	border-radius: 100%;
}

.bgSquare.hovered::after {
	opacity: 0.7;
	transform: translate(var(--mouse-x), var(--mouse-y));
	transform: translate(
		calc(var(--mouse-x) - 80px),
		calc(var(--mouse-y) - 80px)
	);
}

.bgSquare:hover::after {
	content: '';
	position: absolute;
	top: -8px;
	left: -8px;
	right: -8px;
	bottom: -8px;
	border-radius: 16px;
	background: var(--pink, #eb9aff);
	filter: blur(20px);
	opacity: 0.7;
	z-index: -1;
	transition: opacity 0.3s ease;
}

.whyRecord {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 80px;
}

.whyRecordTitle {
	color: var(--violet-brand, #2b133d);
	text-align: center;
	font-family: Manrope;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px; /* 104.167% */
}

.whyRecordCardsWrapper {
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	display: flex;
	scrollbar-width: none;
	justify-content: center;
}

.whyRecordCardsMob {
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	display: flex;
	scrollbar-width: none;
	justify-content: center;
	gap: 32px;
}

.whyRecordCards {
	display: flex;
	gap: 8px;
	align-items: stretch;
	flex-wrap: nowrap;
}

.whyRecordCard {
	padding: 24px 24px 64px 24px;
	height: 330px;
	flex-shrink: 0;
	border-radius: 20px;
	background: var(--violet-brand, #2b133d);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	position: relative;
	position: relative;
}

.whyRecordCardTop {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.whyRecordCardImg {
	display: flex;
	width: 40px;
	height: 40px;
	padding: 11px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 25px;
	background: var(--violet, #402a50);
}

.whyRecordCardTitles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.whyRecordCardTitle {
	color: #fff;
	text-align: center;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px; /* 137.5% */
	width: 217px;
}

.whyRecordCardSubtitle {
	color: rgba(255, 255, 255, 0.32);
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px; /* 137.5% */
}

.whyRecordCardText {
	color: #eb9aff;
	text-align: center;
	font-family: Manrope;
	font-size: 56px;
	font-style: normal;
	font-weight: 800;
	line-height: 50px;
	letter-spacing: -3.36px;

	text-shadow: 0 0 10px #eb9aff;
	animation: neonPulse 2s ease-in-out infinite;
}

@keyframes neonPulse {
	0%,
	100% {
		text-shadow: 0 0 8px #eb9aff;
	}
	50% {
		text-shadow: 0 0 12px #eb9aff;
	}
}

.whyRecordCardText::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 20%);
	z-index: 0;
	color: rgba(255, 255, 255, 0.4);
	filter: blur(52.25px);
	opacity: 0.7;
	width: 98px;
	height: 98px;
	flex-shrink: 0;
	background: rgba(255, 255, 255, 0.4);
}

.whyIndicators {
	display: none;
}

.gridLines {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	pointer-events: none;
	z-index: 0;
	overflow: hidden;
}

.gridSide {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 80px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(12, 1fr);
	opacity: 0.2;
}

.gridSide.left {
	left: 0;
	border-right: 1px solid #9993;
}

.gridSide.right {
	right: 0;
	border-left: 1px solid #9993;
}

.gridLine {
	width: 100%;
	height: 1px;
	background-color: #2e2e2e;
	opacity: 0.2;
	transition: transform 1s ease, opacity 1s ease;
}

.whyRecordCard.activePulse {
	box-shadow: 0 0 0 0 rgba(138, 43, 226, 0.7);
	animation: pulseShadow 1.5s infinite;
	z-index: 1;
}

@keyframes pulseShadow {
	0% {
		box-shadow: 0 0 0 0 rgba(138, 43, 226, 0.7);
	}
	70% {
		box-shadow: 0 0 20px 15px rgba(138, 43, 226, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(138, 43, 226, 0);
	}
}

@media (max-width: 1350px) {
	.whyRecordCardsWrapper {
		justify-content: start;
	}
	.why {
		padding: 0;
	}

	.whyRecordCardsWrapper {
		padding: 0px 40px;
	}

	.whyRecordCardsMob {
		padding-bottom: 48px;
	}

	.whyAccess {
		padding: 64px 40px 40px 40px;
	}
}

@media (max-width: 1280px) {
	.whyAccessBackground {
		bottom: 0;
		width: 80%;
	}
	.whyRecordCardsWrapper {
		padding: 0px 32px 0px 32px;
	}

	.whyAccess {
		padding: 64px 32px 32px 32px;
		gap: 60px;
	}

	.whyRecordTitle {
		padding-top: 64px;
	}

	.whyRecord {
		gap: 60px;
	}

	.whyRecordTitle,
	.whyAccessTitle {
		font-size: 45px;
	}

	.whyAccessTexts {
		width: 600px;
	}
}

@media (max-width: 1024px) {
	.whyAccess {
		padding: 64px 25px 25px 25px;
	}
	.whyRecordCardsWrapper {
		padding: 0px 25px 0px 25px;
	}

	.whyRecordTitle,
	.whyAccessTitle {
		font-size: 40px;
		line-height: 106.25%;
	}

	.whyAccessTexts {
		width: 550px;
	}

	.whyAccessBackground {
		display: none;
	}

	.whyAccessCard {
		padding: 24px;
	}
}

@media (max-width: 768px) {
	.whyAccess {
		padding: 64px 20px 20px 20px;
		min-width: auto;
		gap: 48px;
	}
	.whyRecordCardsWrapper {
		padding: 0px 20px 0px 20px;
	}

	.whyRecord {
		gap: 48px;
	}
	.whyRecordTitle,
	.whyAccessTitle {
		font-size: 35px;
		text-align: center;
	}

	.whyAccessTexts {
		width: 450px;
		gap: 24px;
	}

	.whyRecordTitle {
		width: 350px;
	}

	.whyRecordCard {
		height: 310px;
	}

	.whyAccessCards {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.whyAccessCard {
		width: 100%;
		max-width: 500px;
	}

	.whyAccessCard:nth-child(1) {
		position: static;
		top: 50%;
	}

	.whyCardText {
		width: 290px;
	}
}

@media (max-width: 640px) {
	.whyAccess {
		padding: 64px 16px 16px 16px;
		min-width: auto;
		gap: 48px;
	}
	.whyRecordCardsWrapper {
		padding: 0px 16px 0px 16px;
	}

	.whyAccessBefore {
		font-size: 14px;
		line-height: 16px; /* 114.286% */
	}

	.whyRecordTitle,
	.whyAccessTitle {
		font-size: 32px;
		text-align: center;
	}

	.whyAccessTexts {
		width: 350px;
	}

	.whyRecordTitle {
		width: 350px;
	}

	.whyAccessCard {
		height: 100%;
		gap: 48px;
	}

	.whyCardTitle {
		font-size: 16px;
		line-height: 18px; /* 112.5% */
	}

	.whyCardSubtitles :nth-child(3) {
		display: none;
	}

	.whyCardImage {
		width: 64.754px;
		height: 50px;
	}

	.whyAccessSubtitle {
		width: 323px;
	}

	.whyRecordCard {
		width: 300px;
	}

	.whyRecordCardsWrapper {
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		scroll-behavior: smooth;
	}

	.whyRecordCards {
		width: max-content;
	}

	.whyRecordCard {
		flex: 0 0 auto;
		scroll-snap-align: center;
	}

	.whyRecordCard {
		transition: transform 0.3s ease;
	}

	.whyIndicators {
		display: flex;
		justify-content: center;
		gap: 2px;
	}

	.whyIndicator {
		width: 10px;
		height: 6px;
		border-radius: 32px;
		background: var(--grey, #e0dae6);
		transition: all 0.3s ease;
	}

	.whyIndicator.active {
		width: 32px;
		border-radius: 32px;
		background: var(--violet-brand, #2b133d);
	}

	.why {
		background-image: none;
	}
}
