.howItWork {
	background-image: url('../../assets/img/workBg.png');
	background-color: #2b133d;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: top;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 64px 40px;
	gap: 80px;
}

.howItWorkTexts {
	display: flex;
	width: 676px;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.howItWorkSubtitles {
	display: flex;
	align-items: center;
	gap: 12px;
}

.howItWorkNum {
	color: #2b133d;
	text-align: center;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px; /* 137.5% */
	text-transform: uppercase;

	display: flex;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
	border-radius: 32px;
	background: #eb9aff;
}

.howItWorkSubtitle {
	color: #eb9aff;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px; /* 137.5% */
	text-transform: uppercase;
}

.howItWorkTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	text-align: center;
	font-family: Manrope;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px; /* 104.167% */
}

.howCardsLine {
	display: none;
}

.howItWorkTitleTop {
	display: flex;
	gap: 8px;
}

.howItWorkTitle2 {
	color: rgba(255, 255, 255, 0.32);
}

.howItWorkBottom {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 236px;
	position: relative;
}

.howCardsTitle {
	color: #eb9aff;
	text-align: center;
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px; /* 100% */
	letter-spacing: -0.48px;
}

.howCardsCanvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	pointer-events: none;
}

.howCards {
	position: relative;
	display: flex;
	align-items: stretch;
	gap: 8px;
	flex-wrap: wrap;
}

.howCardWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.howCardLine {
	position: absolute;
	top: -60px;
	height: 60px;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.05);
	left: 50%;
	transform: translateX(-50%);
	z-index: 0;
}

.howCard {
	position: relative;
	padding: 32px;
	height: 262px;
	flex-shrink: 0;
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all ease-in-out 0.5s;
}

.howCard.hovered {
	background: #fff;
}

.howCardTop {
	display: flex;
	align-items: center;
	gap: 12px;
}

.howCardNum {
	display: flex;
	width: 40px;
	text-align: center;

	padding: 10px 0px;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	background: var(--violet, #402a50);
	color: var(--white-primary, #f5f3f8);
	font-family: Oswald;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	text-transform: uppercase;
}

.howCardBefore {
	color: rgba(255, 255, 255, 0.48);
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px; /* 128.571% */
	border-radius: 24px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	display: inline-flex;
	padding: 5px 12px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	transition: all ease-in-out 0.3s;
}

.howCardBefore.hovered {
	color: rgba(43, 19, 61, 0.48);
	border: 1px solid rgba(43, 19, 61, 0.1);
}

.howCardBottom {
	display: flex;
	width: 271px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.howCardTitle {
	color: #fff;
	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px; /* 111.111% */
	transition: all ease-in-out 0.3s;
}

.howCardTitle.hovered {
	color: #2b133d;
}

.howCardText {
	color: rgba(255, 255, 255, 0.56);
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px; /* 137.5% */
	transition: all ease-in-out 0.3s;
}

.howCardText.hovered {
	color: rgba(43, 19, 61, 0.56);
}

@media (max-width: 1450px) {
	.howCardsCanvas {
		display: none;
	}

	.howCards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.howItWorkBottom {
		gap: 0px;
	}

	.howCardsTitle {
		padding-bottom: 10px;
	}

	.howCardsLine {
		display: flex;
		width: 1px;
		height: 38px;
		background: rgba(255, 255, 255, 0.1);
	}
}

@media (max-width: 1280px) {
	.howItWork {
		padding: 64px 32px 32px 32px;
		gap: 60px;
	}

	.howItWorkTitle {
		font-size: 45px;
	}
}

@media (max-width: 1024px) {
	.howItWork {
		padding: 64px 25px 25px 25px;
	}

	.howItWorkTitle {
		font-size: 40px;
		line-height: 106.25%;
	}
}

@media (max-width: 768px) {
	.howItWork {
		padding: 64px 20px 20px 20px;
		background-image: url('../../assets/img/MobilBg.png');
		gap: 48px;
	}

	.howItWorkTitle {
		font-size: 35px;
		line-height: 106.25%;
	}

	.howCards {
		display: flex;
		flex-direction: column;
	}

	.howCard {
		height: 100%;
		gap: 48px;
		padding: 24px;
	}

	.howCardTitle {
		font-size: 16px;
	}
}

@media (max-width: 640px) {
	.howItWork {
		padding: 64px 16px 16px 16px;
	}

	.howItWorkTitle {
		font-size: 32px;
	}

	.howItWorkSubtitle {
		font-size: 14px;
	}
}
