body {
	margin: 0;
	overflow-x: hidden;
}

img {
	height: 100%;
	width: 100%;
}

.no-scroll {
	overflow: hidden;
	height: 100vh;
}

Image {
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
